@model PagedList<Game>
@{
    ViewData["Title"] = "Listar Jogos";
}
<div class="container" >
    <h1> Listagem de Jogos</h1>
    <form class="d-flex" role="search" asp-controller="gamelist" asp-action="Index" method="get" >
        <input class="form-control me-2" name="searchTerm" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    
    </form>
    <div class="row">
    @foreach(var game in Model.Items){
    <div class="col-md-3">
        <div class="card mt-3" style="width: 18rem;">
                <img src="@game.imageUrl" class="card-img-top" style=" width:18rem; height: 15rem" alt="@game.name cover">
            <div class="card-body">
                <h5 class="card-title">@game.name</h5>
                <p class="card-text">@game.isDone</p>
                    <a href="/gamelist/view/@game.id" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    }
    </div>
    <div class="pagination mt-5">
        <nav aria-label="Page navigation">
            
            
                Page @(Model.PageNumber) of @Model.PageCount
            <ul class="pagination">
                
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber - 1)">Previous</a>
                    </li>
                }
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber + 1)">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>